<!DOCTYPE html>
<html lang="en">
<head>
<title>Chnage for each new client</title>
<meta charset="UTF-8">
<meta name="description" content="Free Web tutorials">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta name="author" content="Stephanie Vasquez">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/drowpdown.css">

</head>
<body>

<header>
  <h1>Change for each new client</h1>
</header>
<section>
  <nav>
    <ul>
      <li><a href="../index.html">Home</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
    </ul>

  </nav>
  <article>
    <h2>Add header for customer</h2>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </article>
</section>

<footer>
<div id="contact">
<h4>Contact Info</h4>
<p>Cristofer Posas</p>
<p><a href="mailto:ogcristofer@gmail.com">Email (ogcristofer@gmail.com)</a></p>
<p>Phone number: (214)-253-1385</p>
<p>Last Updated:
<script language="JavaScript">
var testlast=document.lastModified;
document.write(" "+testlast.substr(0,10));
</script>
</p>
</footer>

</body>
</html>
