<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Look at my portfolio</title>
  <meta charset="UTF-8">
  <meta name="description" content="navigation">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="Cristofer Posas">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/drowpdown.css">
  <link id="mono" rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />

  </head>
<body>

<h2>wow look at this cool header</h2>
<p>this is a flexbox tutorial but we won't be needing flexbox because this is only a template</p>
<p>beep beep lettuce</p>
<p><strong>strong text</strong> regular text</p>

<header>
  <h2>list</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#">thing1</a></li>
      <li><a href="#">thing2</a></li>
      <li><a href="#">thing3</a></li>
    </ul>
  </nav>

  <article>
    <h1>IMPORTANT NOTICE</h1>
    <p>Attention all Fortnite Gamers, John Wick is in great danger, and he needs YOUR help to wipe out all the squads in the tilted towers. To do this, he needs a gold SCAR and a couple of chug-jugs.</p>
    <p> To help him, all he needs is your credit card number, the three numbers on the back, and the expiration month and date. But you gotta be quick so that John can secure the bag, and achieve the epic victory R O Y AL</p>
  </article>
</section>

<footer>
  <p>look at this footer i totally designed</p>
</footer>


</body>
</html>
